$header-height: 70px;
$footer-height: 85px;
$bege-claro: #f9fae7;
$bege-escuro: #87877e;
$cinza: #363636;
$cinza-escuro: #2a2929;

@mixin opacity( $value ){

	-webkit-opacity: $value;
	-moz-opacity: $value;
	-o-opacity: $value;
	opacity: $value;

}

html{

    height:100%;
    min-height:100%;

}
body{

	font-family: Arial Narrow, Verdana;
	color: $bege-claro;

	-webkit-font-smoothing: antialiased;

	min-height:100%;

	line-height: 22px;

	overflow-x: hidden;

}

/** ANIMATION **/
.header *, .section *, .footer * {
	-webkit-transition: all 0.3s 0 ease;
	-moz-transition: all 0.3s 0 ease;
	-o-transition: all 0.3s 0 ease;
	transition: all 0.3s 0 ease;

	transition-delay: 0s !important; 
}

/** GENERAL **/
p 			{ margin-bottom: 10px; }
a 			{ color: $bege-escuro; text-decoration: none; }
a:hover     { color: $bege-claro; }

.m-0 		{ margin: 0 }

.pad-0		{ padding: 0; }
.pad-16		{ padding: 16px; }
.pl-20		{ padding-left: 20px; }
.pl-30		{ padding-left: 30px; }
.pl-40		{ padding-left: 40px; }
.pt-40		{ padding-top: 40px; }
.pt-60		{ padding-top: 60px; }

.w-20p		{ width: 16%; }
.w-25p		{ width: 20%; }
.w-30p		{ width: 28%; }
.w-33p		{ width: 31%; }
.w-40p		{ width: 38%; }
.w-50p		{ width: 48%; }
.w-60p		{ width: 58%; }
.w-70p		{ width: 68%; }
.w-100p		{ width: 100%; }
.w-100		{ width: 100px; }

.h-100p		{ height: 100%; }

.h-0		{ height: 0; }
.h-60		{ height: 60px; }
.h-70		{ height: 70px; }
.mh-100p	{ min-height: 100%; }
.h-auto		{ height: auto !important; }
.menu-open	{ height: 265px !important; }

.t-0		{ top: 0; }
.t-10		{ top: 10px; }
.t-20		{ top: 20px; }
.l-0		{ left: 0; }
.l-10		{ left: 10px; }
.r-20		{ right: 20px; }
.b-0 		{ bottom: 0; }

.p-fixed	{ position: fixed; }
.p-abs		{ position: absolute; }

.fl-left	{ float: left; }
.fl-right	{ float: right; }

.bg-red		{ background-color: #ff0000; } 
.bg-black	{ background-color: #000; }
.bg-gray	{ background-color: $cinza; }
.bg-smoke	{ background-image: url(../images/bg_full.jpg); background-attachment: fixed; }
.bgs-contain { background-size: contain; }
.bgs-cover  { background-size: cover; }
.bgp-center { background-position: center; }

.btm-0		{ bottom: 0; }
.btm-10		{ bottom: 10px; }

.uppercase	{ text-transform: uppercase; }

.fs-12		{ font-size: 12px; }
.fs-13		{ font-size: 13px; }
.fs-14		{ font-size: 14px; }
.fs-15		{ font-size: 15px; }
.fs-16		{ font-size: 16px; }
.f-white	{ color: #ffffff !important; }

.txt-center { text-align: center }

.m-top		{ margin-top: $header-height + 20; }
.mt-10		{ margin-top: 10px; }
.mt-20		{ margin-top: 20px; }
.mr-10		{ margin-right: 10px; }
.mr-20		{ margin-right: 20px; }
.ml-10		{ margin-left: 10px; }
.ml-20		{ margin-left: 20px; }
.mb-10		{ margin-bottom: 10px; }
.mb-20		{ margin-bottom: 20px; }
.mb-30		{ margin-bottom: 30px; }
.mb-40		{ margin-bottom: 40px; }

.block{ display: block !important; }
.o-0{ @include opacity( 0 ); }
.o-1{ @include opacity( 1 ); }

.lb-number{ display: none !important; }

.close{

	background: url(../images/close_modal.png) no-repeat;
	width: 14px;
	height: 14px;
	cursor: pointer;

}

.download-big{

	background: url(../images/bt_download_home.png) no-repeat;
	width: 207px;
	height: 37px;
	cursor: pointer;

}
.download-small{

	background: url(../images/bt_download_musicas.png) no-repeat;
	width: 167px;
	height: 27px;
	cursor: pointer;

}
.download-press{

	background: url(../images/bt_downloadpress.png) no-repeat;
	width: 113px;
	height: 27px;
	cursor: pointer;
}
.download-big:hover{ background: url(../images/bt_download_home_over.png) no-repeat; }
.download-small:hover{ background: url(../images/bt_download_musicas_over.png) no-repeat; }
.download-press:hover{ background: url(../images/bt_downloadpress_over.png) no-repeat; }


/** LINE **/
.line{

	height: 1px;
	width: 100%;
	bottom: 16px;
	background-color: #87877e;

}
.line-light{

	@extend .line;
	background-color: $bege-claro;

}


/** HEADER **/
.header{

	padding: 16px;
	height: $header-height - ( 16px * 2 );
	left: 0;
	right: 0;
	z-index: 160;

	.logo{

		margin-right: 20px;

	}

}

/** MAIN MENU **/
.main-menu{

	margin-top: 19px;

	.menu-social{ display: none }

	.menu li:after{

		content: '';
		display: inline-block;
		background: url(../images/bolinha_menu.png) center no-repeat;
		width: 20px;
		height: 10px;

	}

	.menu li.last:after{ width: 0; }

}
.menu{

	li{ float: left; }

	.selected{ color: $bege-claro; }

}

/** MENU SOCIAL WITH ICONS **/
.menu-icons{

	li{

		position: relative;

		span{

			display: block;
			line-height: 12px;

		}

	}

	li:before{
	
		content: '';
		display: block;
		background-color: #000;
		width: 32px;
		height: 32px;
		margin-left: 20px;
		margin-top: 12px;
		margin-bottom: 9px;

	}

	a{
/* 		display: block; */
		color: $bege-claro;
	}

	a:hover{ color: $cinza-escuro; }

}
.li-before-list{

	li:before{
	
		margin: 0 10px 0 0;
		float: left;

	}

}
.icons-block{
	
	/* ul, li{ height: 100%; } */
	@extend .menu-icons;

	li{

		width: 70px;
		height: 100%;
		border-right: 1px solid #434242;

		span{

			width: 100%;

		}

	}

}

.icons-grid{
	
	/* ul, li{ height: 100%; } */

	@extend .menu-icons;
	@extend .li-before-list;

	li{	

		width: 50%;
		margin-bottom: 20px;

		span{

			@extend .mt-10;
			@extend .fl-left;

		}
	
	}




}

.icons-list{
	
	/* ul, li{ height: 100%; } */

	@extend .menu-icons;
	@extend .li-before-list;

	li{	

		width: 100%;
		margin-bottom: 20px;

		span{

			@extend .mt-10;
			@extend .fl-left;

		}
	
	}

}

/** FOOTER **/
.footer{

	width: 100%;
	height: $footer-height;

	.location{ margin: 35px 20px; position: relative; }
	.location:before{ 

		content: "";
		background: url(../images/local.png) no-repeat;
		width: 16px;
		height: 21px;
		display: block;
		position: absolute;
		left: -28px;

	}

	.menu {
		a{ color: $bege-claro; }
		li:hover{ background-color: $cinza-escuro; }
	}

}

/** WRAPPER **/
.section{

	position: absolute;
	min-height: 100%;

	.wrapper{

		/* background-color: #f00; */

		width: 1000px;

		margin: $header-height + 20 auto 110px auto;
		clear: both;
		overflow: hidden;

	}
}

/** COLUMNS **/
.col{ 

	float: left;

	p{ line-height: 22px; text-align: justify; }

}

/** CONTENT **/
.title{

	font-size: 24px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;

}

/** HOME **/
.bg-home {

	position: fixed;
	width: 100%;
	height: auto;

	margin-top: $header-height;
	margin-bottom: $footer-height;
	top: 0;
	bottom: 0;

	background: url(../images/bg_home.png) no-repeat left;
	background-size: cover;

	z-index: 50;

	/* display: none; */

}
.home {

	.content {

		width: 370px;
		position: relative;
		z-index: 150;
		/* right: 0; */

	}

	.song-list{

		margin-top: -10px;

	}

	/* width: 300px; */
	/* margin: $header-height + 20 60px 0 0; */

	/* float: right; */

}

/** LETRAS **/
.lyrics{

	z-index: 160;
	display: none;

	span{

		display: block;
		font-size: 20px;
		padding-top: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-top: 1px solid $cinza;

	}

}
.see-lyrics{

	background: url(../images/verletras.png) no-repeat;
	width: 69px;
	height: 25px;
	cursor: pointer;

}

/** LIST **/
.list{

	margin-bottom: 20px;
	padding-left: 5px;

	a{ color: $bege-claro; }
	a:hover{ color: $cinza-escuro; }

	li{ position: relative; }

	span{ margin-left: 22px; }	

	li:before{

		content: '';
		display: block;
		width: 8px;
		height: 10px;
		position: absolute;
		top: 50%;
		margin-top: -5px;

	}

	.release:before{

		background: url(../images/icons/release.png) no-repeat;
		width: 12px;
		height: 16px;
		margin-top: -8px;

	}

	.fotos:before{

		background: url(../images/icons/fotos.png) no-repeat;
		width: 16px;
		height: 13px;
		margin-top: -7px;

	}

	.info:before{

		background: url(../images/icons/info.png) no-repeat;
		width: 16px;
		height: 17px;
		margin-top: -8px;

	}

	.tel:before{

		background: url(../images/icons/cel.png) no-repeat;
		width: 13px;
		height: 24px;
		margin-top: -12px;

	}

	.mail:before{

		background: url(../images/icons/mail.png) no-repeat;
		width: 16px;
		height: 11px;
		margin-top: -6px;

	}
}

.song-list li:before{

	background: url(../images/icons/seta_musicas.png) no-repeat;

}

/**
	
	SPRITES

**/
.menu {

	.facebook:before{ background: url(../images/icons/mais_facebook.png) no-repeat; }
	.twitter:before{ background: url(../images/icons/mais_twitter.png) no-repeat; }
	.instagram:before{ background: url(../images/icons/mais_instagram.png) no-repeat; }
	.soundcloud:before{ background: url(../images/icons/mais_soundcloud.png) no-repeat; }
	.youtube:before{ background: url(../images/icons/mais_youtube.png) no-repeat; }
	.flickr:before{ background: url(../images/icons/mais_flickr.png) no-repeat; }
	.googleplus:before{ background: url(../images/icons/mais_gplus.png) no-repeat; }
	.monotune:before{ background: url(../images/icons/mais_monotune.png) no-repeat; }
	.vimeo:before{ background: url(../images/icons/mais_vimeo.png) no-repeat; }
	.bandcamp:before{ background: url(../images/icons/bandcamp.png) no-repeat; }
	.myspace:before{ background: url(../images/icons/mais_myspace.png) no-repeat; }

}

/**

	MEDIA QUERIES

**/

/** DESCE MAIN MENU **/
@media screen and (max-width: 1000px) {

	.main-menu{

		position: absolute;
		top: 62px;
		width: 100%;
		background-color: $cinza;
		margin-left: -16px;
		margin-top: 0;
		/* padding-left: 16px; */

		.menu{

			float: left;

			padding-left: 16px;

			li{ padding-bottom: 9px; }

		}

	}

	.section{

		min-height: 100%;

		.wrapper{

			width: 93%;
			margin-top: $header-height + 40;

		};

	}

	.icons-list li, .icons-grid li{

		width: 100%;

	}

}
/** CELULAR **/
@media screen and (max-width: 600px) {

	.bg-smoke{ background-color: #657471; }

	.bg-home{ /* height: 650px; */ margin: 0; /* margin-top:-50px; */ background-position-x: -400px; }

	/* .fl-right{ clear: both; float: none; } */

	.footer, .presskit-icon{ display: none; }

	.header{ 

		height: 30px;
		position: absolute;

		.bt-menu-mobile{

			width: 30px;
			height: 30px;
			background-color: $bege-escuro;

			position: absolute;
			right: 12px;
			bottom: 18px;

			border-radius: 50%;

		}

		.bt-menu-mobile:before{
			content: '';
			display: block;
			height: 3px;
			width: 15px;
			border-top: 2px solid $cinza-escuro;

			margin-top: 9px;
			margin-left: 8px;
		}

		.bt-menu-mobile:after{
			content: '';
			display: block;
			height: 3px;
			width: 15px;
			border-top: 2px solid $cinza-escuro;
			border-bottom: 2px solid $cinza-escuro;

			margin-left: 8px;
		}

		.line{ width: 85%; }

	}

	.section{

		/* height: auto;
		top: 0;
		bottom: 0; */
		/* min-height: 600px; */

		.wrapper{

			margin-top: $header-height + 20;
			margin-bottom: 10px;

		}

	}

	.main-menu{

		/* display: none; */
		overflow: hidden;
		height: 0;

		.menu-social{ display: block; float: right; color: $bege-escuro; }

		ul{

			width: 45%;

		}

	}

	.menu{

		li{ clear: both; }

		li:after{ width: 0 !important; }

	}

	.logo img{ width: 230px; }

	.home .content{ width: 80%; margin: 0 auto; clear: both; float: none; }

	.capa{ width: 100%; }

	/* .title{ font-size: 20px; } */
	.lyrics{

		padding: 40px 0;

		.col{ width: 80%; }
		.pt-60{ padding-top: 0; }

	}

	.col{

		width: 100%;
		margin-left: 0;
		margin-right: 0; 

	}

	/** menu icons **/
	/* .icons-list li{

		width: 100%;

	} */

}
@media only screen and (min-width: 300px) and (max-width: 700px) and (orientation: landscape) {

	.section{ 
		
		background-position-x: -60px;
		background-position-y: 62px;

	}

}


/** BG HOME **/
@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.bg-home{
		background-position-x: -200px;
	}
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
	.bg-home{
		background-position-x: -300px;
	}
}