<!-- build:include header.html --><!-- /build -->

    <div class="section bg-smoke bgs-cover bgp-center w-100p">
        
        <div class="wrapper">

            <div class="col w-100p">
                <div class="title mb-30">Contato</div>

                <div class="col w-100p">

                    <div class="col fs-16">
                        
                        <ul class="list fs-16">
                            <li class="tel mb-10"><span>(11) 95433-6460 | (51) 9331-2976</span></li>
                            <li class="mail"><span>contato@eduardobarreto.com</span></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

<!-- build:include footer.html --><!-- /build -->