
	<div class="footer p-fixed bg-gray b-0">
	    		
		<ul class="menu menu-social icons-block fl-left fs-14 txt-center">
			<a href="#"><li class="facebook"><span>facebook</span></li></a>
			<a href="#"><li class="twitter"><span>twitter</span></li></a>
			<a href="#"><li class="instagram"><span>instagram</span></li></a>
			<a href="#"><li class="soundcloud"><span>soundcloud</span></li></a>
			<a href="#"><li class="youtube"><span>youtube</span></li></a>
			<a href="#"><li class="googleplus"><span>google+</span></li></a>
			<a href="#"><li class="monotune"><span>mono.tune records</span></li></a>
		</ul>

		<div class="location fl-right">São Paulo | Brasil</div>

	</div>

    </body>
    <script type="text/javascript" src="js/index.min.js"></script>
</html>