<!-- build:include header.html --><!-- /build -->

    <link href="css/lightbox.css" rel="stylesheet" />

    <div class="section bg-smoke bgs-cover bgp-center w-100p">
        
        <div class="wrapper">

            <div class="col w-70p mb-40">
                <div class="title mb-30">Fotos</div>

                <div class="col w-100p">

                    <div class="col w-33p mr-20">
                    
                        <a href="images/fotos/eduardobarreto_foto1_g.jpg" data-lightbox="gallery"><img src="images/fotos/eduardobarreto_foto1_psombra.jpg" class="w-100p"></a>
                        <a href="images/fotos/eduardobarreto_foto2_g.jpg" data-lightbox="gallery"><img src="images/fotos/eduardobarreto_foto2_psombra.jpg" class="w-100p"></a>

                    </div>

                    <div class="col w-33p mr-20">

                        <a href="images/fotos/eduardobarreto_foto3_g.jpg" data-lightbox="gallery"><img src="images/fotos/eduardobarreto_foto3_psombra.jpg" class="w-100p"></a>
                        <a href="images/fotos/eduardobarreto_foto4_g.jpg" data-lightbox="gallery"><img src="images/fotos/eduardobarreto_foto4_psombra.jpg" class="w-100p"></a>

                    </div>

                    <div class="col w-33p">

                        <a href="images/fotos/eduardobarreto_foto5_g.jpg" data-lightbox="gallery"><img src="images/fotos/eduardobarreto_foto5_psombra.jpg" class="w-100p"></a>
                        <a href="images/fotos/eduardobarreto_foto6_g.jpg" data-lightbox="gallery"><img src="images/fotos/eduardobarreto_foto6_psombra.jpg" class="w-100p"></a>

                    </div>

                </div>

            </div>

            <div class="col fs-15 ml-20 w-30p">
                <div class="title mb-30">+Mais</div>

                <ul class="menu f-white icons-list fs-14">
                    <a href="http://instagram.com/eduardo_barretto" target="_blank"><li class="instagram"><span>instagram.com/eduardo_barretto</span></li></a>
                    <a href="http://flickr.com/eduardobarretto" target="_blank"><li class="flickr"><span>flickr.com/eduardobarretto</span></li></a>
                </ul>
            </div>

        </div>

    </div>

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/lightbox.min.js"></script>

<!-- build:include footer.html --><!-- /build -->