<html>
    <head>
        <title>Eduardo Barretto</title>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link type="text/css" rel="stylesheet" href="css/reset.css" />
        <link type="text/css" rel="stylesheet" href="css/index.css" />
    </head>
    <body class="m-0 pad-0">

	<div class="header p-fixed bg-gray t-0">
	    		
		<a href="index.html" class="logo fl-left">

			<img src="images/logo_menu_semtraco.png" />

		</a>

		<div class="bt-menu-mobile" id="bt-menu-mobile"></div>

		<div class="main-menu fs-14" id="menu">

			<ul class="menu menu-navigation fl-right">
				<a href="index.html"><li class="index">início</li></a>
				<a href="sobre.html"><li class="sobre">sobre</li></a>
				<a href="musicas.html"><li class="musicas">músicas</li></a>
				<a href="fotos.html"><li class="fotos">fotos</li></a>
				<a href="videos.html"><li class="videos">videos</li></a>
				<a href="presskit.html"><li class="presskit">press kit</li></a>
				<a href="contato.html"><li class="contato last">contato</li></a>
			</ul>

			<ul class="menu menu-social fl-right">
				<li>facebook</li>
				<li>twitter</li>
				<li>instagram</li>
				<li>soundcloud</li>
				<li>youtube</li>
				<li>flickr</li>
				<li>google+</li>
				<li>mono.tune.records</li>
			</ul>

		</div>

		<div class="line fl-left"></div>

	</div>
