<!-- build:include header.html --><!-- /build -->

    <div class="bg-home"></div>

    <div class="section bg-smoke bgs-cover w-100p home">

        <div class="wrapper">

            <div class="content fl-right">
                
                <p>Fracasso Extraordinário | EP (2014)</p>
                <img src="images/capa_EP_home_sombra.png" class="capa">
         
                <ul class="list song-list">
                    <li>
                        <a href="#">
                            <span>1. O Bárbaro</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>2. Nervo Craniano</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>3. Fracasso Extraordinário</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>4. Permanente e Infinito Frenesi</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>5. O Último Vagão</span>
                        </a>    
                    </li>
                </ul>

                <!-- <img src="images/bt_download_home.png"> -->
                <div class="download-big"></div>

            </div>

        </div>

    </div>

<!-- build:include footer.html --><!-- /build -->