<!-- build:include header.html --><!-- /build -->

    <div class="section bg-smoke bgs-cover bgp-center w-100p h-100p">
        
        <div class="wrapper">

            <div class="col w-100p">
                <div class="title mb-30">Press Kit</div>

                <div class="col w-100p">

                    <img src="images/icons/iconepresskit.png" class="fl-left mr-20 presskit-icon" />
                    <div class="col fs-16">
                        
                        Conteudo:
                        <ul class="list fs-14">
                            <li class="release"><span>Release</span></li>
                            <li class="fotos"><span>Fotos de divulgação</span></li>
                            <li class="info"><span>Capa e ficha técnica do EP</span></li>
                        </ul>
                        <div class="download-press"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

<!-- build:include footer.html --><!-- /build -->