<!-- build:include header.html --><!-- /build -->

    <div class="section bg-smoke bgs-cover bgp-center w-100p">
        
        <div class="wrapper">

            <div class="col w-50p"><img src="images/sobre/eduardobarreto_perfil_sombra.png" class="w-100p" /></div>
            <div class="col fs-15 mb-30 ml-20 w-50p">
                <div class="title mb-30">Sobre</div>
                <p>Eduardo Barretto nasceu em São Paulo, mas com poucos meses de vida mudou-se com a família para Porto Alegre. Tocou baixo em diversos grupos emblemáticos da tradicional cena roqueira gaúcha até que, em busca de novos ares, encerrou o ciclo em terras sulistas e fixou residência na capital paulista, decidido a se aventurar além das quatro cordas.</p>
                <p>O primeiro single chama-se “O Bárbaro” e anuncia o EP de estreia que será lançado ainda nesse semestre pela Mono.Tune Records. O músico compôs, arranjou e gravou quase todos os instrumentos e, pela primeira vez, usa a própria voz para dar contorno às suas histórias.</p>
            </div>
            <div class="col fs-15 ml-20 w-50p">
                <div class="title mb-30">+Mais</div>

                <ul class="menu f-white icons-grid fs-14">
                    <a href="http://facebook.com/eduardobarretto" target="_blank"><li class="facebook"><span>facebook.com/eduardobarretto</span></li></a>
                    <a href="http://instagram.com/eduardo_barretto" target="_blank"><li class="instagram"><span>instagram.com/eduardo_barretto</span></li></a>
                    <a href="http://twitter.com/eduardobarretto" target="_blank"><li class="twitter"><span>twitter.com/eduardobarretto</span></li></a>
                    <a href="http://plus.google.com/eduardobarretto" target="_blank"><li class="googleplus"><span>plus.google.com/eduardobarretto</span></li></a>
                </ul>
            </div>

        </div>

    </div>

<!-- build:include footer.html --><!-- /build -->