<!-- build:include header.html --><!-- /build -->

    <div class="section bg-smoke bgs-cover bgp-center w-100p">
        
        <div class="wrapper">

            <div class="col w-70p mb-40">
                <div class="title mb-30">Videos</div>

                <div class="col w-100p">

                    <img src="images/embreve.png" />

                </div>

            </div>

            <div class="col fs-15 ml-20 w-30p">
                <div class="title mb-30">+Mais</div>

                <ul class="menu f-white icons-list fs-14">
                    <a href="http://youtube.com/eduardobarrettotv" target="_blank"><li class="youtube"><span>youtube.com/eduardobarrettotv</span></li></a>
                    <a href="http://vimeo.com/eduardobarretto" target="_blank"><li class="vimeo"><span>vimeo.com/eduardobarretto</span></li></a>
                </ul>
            </div>

        </div>

    </div>

<!-- build:include footer.html --><!-- /build -->